.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.navbar-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  margin-top: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.nav-menu {
  margin-top: 275px;
  background-color: transparent;
}

.text-block {
  text-align: left;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.nav-link-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.brand {
  cursor: n-resize;
}

.container-2 {
  display: -ms-grid;
  display: grid;
  padding-top: 50px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 500px auto;
  grid-template-rows: 500px auto;
}

.container-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gallery {
  position: static;
  left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 4px 4px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.image {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 275px;
  -ms-flex: 1 0 275px;
  flex: 1 0 275px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.image-2 {
  padding-top: 4px;
}

.image-3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.image-4 {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
}

.image-5 {
  margin-bottom: 4px;
  padding-top: 4px;
}

.image-6 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-menu-2 {
  display: block;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.navbar-3 {
  position: static;
  top: -7px;
  bottom: 834px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.nav-link-5 {
  padding-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.nav-link-5.w--current {
  color: #333;
}

.container-4 {
  margin-left: 1px;
}

.body {
  margin-left: 0px;
}

.paragraph {
  padding-right: 0px;
  padding-left: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.video {
  right: 0px;
  width: 500px;
  height: 574.015625px;
  margin-right: 0px;
}

.image-7 {
  margin-top: 0px;
}

.paragraph-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.image-8 {
  margin-left: 0px;
}

.nav-link-6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-7 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-7.w--current {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-8 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link-9 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.link {
  display: block;
  margin-top: -34px;
  margin-bottom: 16px;
  padding-bottom: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #292929;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: underline;
}

.div-block {
  margin-top: 33px;
  margin-bottom: -79px;
}

.link-2 {
  color: #3b3b3b;
}

@media screen and (max-width: 991px) {
  .container-2 {
    padding-left: 175px;
  }

  .navbar-3 {
    position: static;
    display: block;
  }

  .container-4 {
    margin-left: -2px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    margin-top: 0px;
  }
}